.catch1 {
	padding: 133px 0 150px;
	@include mq("tab") {
		padding: 130px 24px;
	}
	@include mq("sp") {
		padding: 70px 16px;
	}

	&-outer {
		width: 980px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include mq("sp") {
			flex-direction: column;
		}
	}

	&-wrap1 {
		background: resolve('catch1-1.png') no-repeat center center / cover;
		padding: 80px 100px;
		width: 48.9%;

		@include mq("tab") {
			padding: 50px 50px;
			margin-bottom: 16px;
			margin: 0 auto;
		}

		@include mq("sp") {
			width: 100%;
		}
	}

	&-wrap2 {
		@extend .catch1-wrap1;
		background: resolve('catch1-2.png') no-repeat center center / cover;
	}

	&-inner {
		background: #FFFFFFCC;
		box-shadow: 0px 3px 6px #00000029;
		padding: 20px 45px;
		box-shadow: 0px 3px 6px #00000029;

		@include mq("sp") {
			padding: 20px 20px;
		}
	}

	&-img {
		text-align: center;
	}

	&-title {
		text-align: center;
		margin-bottom: 45px;
		@include font-size(2.6rem, 2rem);
		font-weight: bold;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -15px;/*線の上下位置*/
			display: inline-block;
			width: 45px;/*線の長さ*/
			height: 3px;/*線の太さ*/
			transform: translateX(-50%);/*位置調整*/
			background-color: $cr-txt;/*線の色*/
		}
	}

	&-text {
		margin-bottom: 40px;
	}
}