<% var title = 'chizumi_milkeyway-2'; %>
<% var description = 'ちづみ模写(中級編)'; %>
<% include common/_header %>

<body>
	<!-- mv -->
	<section class="mv" id="totop">
		<div class="mv-inner">
			<h1 class="mv-title">The Night <br>of the<br> Milky Way Train</h1>
			<div class="mv-btn"><a href="#">start</a></div>
		</div>
	</section> <!-- /mv -->

	<!-- intro -->
	<section id="intro" class="intro">
		<h2 class="intro-title">Kenji Miyazawa</h2>
		<div class="intro-inner">
			<div class="intro-img wow slideInUp"><img src="dist/img/intro.png" alt="intro-img"></div>
			<div class="intro-wrap">
				<p class="intro-text">「ではみなさんは、そういうふうに<br> 川だと云いわれたり、乳の流れた <br>あとだと云われたりしていたこの<br> ぼんやりと白いものがほんとうは<br> 何かご承知ですか。」</p>
				<p class="intro-text">先生は、黒板に吊した<br> 大きな黒い星座の図の、 <br>上から下へ白くけぶった<br> 銀河帯のようなところを指さしながら、<br> みんなに問いをかけました。</p>
				<p class="intro-text">カムパネルラが手をあげました。<br> それから四五人手をあげました。</p>
				<p class="intro-text">ジョバンニも手をあげようとして、<br> 急いでそのままやめました。</p>
				<div class="intro-btn"><a href="#">more</a></div>
			</div>
		</div>
	</section><!-- /intro -->

	<!-- catch1 -->
	<section id="catch1" class="catch1">
		<div class="catch1-outer">
			<div class="catch1-wrap1 wow fadeInUp">
				<div class="catch1-inner">
					<div class="catch1-img"><img src="dist/img/catch1-icon.png" alt="catch1-img"></div>
					<h3 class="catch1-title">train1</h3>
					<p class="catch1-text">たしかにあれがみんな星だと、いつか雑誌で読んだのでしたが、このごろはジョバンニはまるで毎日教室でもねむく、</p>
				</div>
			</div>
			<div class="catch1-wrap2 wow fadeInUp">
				<div class="catch1-inner">
					<div class="catch1-img"><img src="dist/img/catch1-icon.png" alt="catch1-img"></div>
					<h3 class="catch1-title">train2</h3>
					<p class="catch1-text">本を読むひまも読む本もないので、なんだかどんなこともよくわからないという気持ちがするのでした。</p>
				</div>
			</div>
		</div>
	</section><!-- /catch1 -->

	<!-- catch2 -->
	<section id="catch2" class="catch2">
		<div class="catch2-inner wow fadeInUp">
			<p class="catch2-title">「ジョバンニさん。あなたはわかっているのでしょう。」</p>
			<p class="catch2-text">ジョバンニは勢いよく立ちあがりましたが、立って見るともうはっきりとそれを答<br>えることができないのでした。<br>ザネリが前の席からふりかえって、ジョバンニを見てくすっとわらいました。<br> ジョバンニはもうどぎまぎしてまっ赤になってしまいました。先生がまた云いました。</p>
			<p class="catch2-text">「大きな望遠鏡で銀河をよっく調べると銀河は大体何でしょう。」<br> やっぱり星だとジョバンニは思いましたがこんどもすぐに答えることができま<br>せんでした。</p>
		</div>
	</section><!-- /catch2 -->

	<!-- catch3 -->
	<section id="catch3" class="catch3">
		<div class="catch3-outer">
			<div class="catch3-inner">
				<div class="catch3-img-right wow slideInRight" ><img src="dist/img/catch3-1.png" alt="catch4-img"></div>
				<div class="catch3-wrap-left wow slideInLeft" data-wow-delay="0.5s">
					<p class="catch3-text-left">「ではカムパネルラさん。」と名指しました。 するとあんなに元気に手をあげたカムパネルラ が、やはりもじもじ立ち上ったままやはり答え ができませんでした。</p>
					<p class="catch3-text-left">先生は意外なようにしばらくじっとカムパネル ラを見ていましたが、急いで「では。よし。」 と云いながら、自分で星図を指さしました。</p>
					<div class="catch3-btn-left"><a href="#">more</a></div>
				</div>
			</div>
			<div class="catch3-inner">
				<div class="catch3-img-left wow slideInLeft" ><img src="dist/img/catch3-2.png" alt="catch4-img"></div>
				<div class="catch3-wrap-right wow slideInRight" data-wow-delay="0.5s">
					<p class="catch3-text-right">「このぼんやりと白い銀河を大きないい望遠 鏡で見ますと、もうたくさんの小さな星に見 えるのです。ジョバンニさんそうでしょ う。」</p>
					<p class="catch3-text-right">ジョバンニはまっ赤になってうなずきまし た。けれどもいつかジョバンニの眼のなかに は涙なみだがいっぱいになりました。</p>
					<div class="catch3-btn-right"><a href="#">more</a></div>
				</div>
			</div>
		</div>
	</section><!-- /catch3 -->

	<!-- catch4 -->
	<section id="catch4" class="catch4">
		<div class="catch4-inner ">
			<div class="catch4-wrap wow fadeInUp">
				<div class="catch4-img"><img src="dist/img/catch4-1.png" alt="catch4-img"></div>
				<h3 class="catch4-title">そうだ僕ぼくは知っていたのだ、</h3>
				<p class="catch4-text">勿論もちろんカムパネルラも知ってい る、それはいつかカムパネルラのお父さ んの博士のうちでカムパネルラといっし ょに読んだ雑誌のなかにあったのだ。</p>
				<div class="catch4-btn"><a href="#">more</a></div>
			</div>
			<div class="catch4-wrap wow fadeInUp">
				<div class="catch4-img"><img src="dist/img/catch4-2.png" alt="catch4-img"></div>
				<h3 class="catch4-title">それどこでなくカムパネルラは、</h3>
				<p class="catch4-text">その雑誌を読むと、すぐお父さんの書斎から巨きな本をもってきて、ぎんがというところをひろげ、まっ黒な頁ページいっぱいに白い点々のある美しい写真を二人でいつまでも見たのでした。</p>
				<div class="catch4-btn"><a href="#">more</a></div>
			</div>
			<div class="catch4-wrap wow fadeInUp">
				<div class="catch4-img"><img src="dist/img/catch4-3.png" alt="catch4-img"></div>
				<h3 class="catch4-title">それをカムパネルラが</h3>
				<p class="catch4-text">忘れる筈はずもなかったのに、すぐに返事をしなかったのは、このごろぼくが、朝にも午后にも仕事がつらく、学校に出てももうみんなともはきはき遊ばず、カムパネルラともあんまり物を云わないようになったので、</p>
				<div class="catch4-btn"><a href="#">more</a></div>
			</div>
		</div>
	</section><!-- /catch4 -->

<% include common/_footer %>